@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.h3 {
    font-family: 'SBAggroB';
}

.card {
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 5px gray;
}

.card:not(:hover) {
    transform: translateY(0);
}