body {
    font-family: Arial, sans-serif;
}

.hero {
    background: url('../public/img/cherryheader.jpg') no-repeat;
    background-size: cover;
    color: black;
    text-align: center;
    padding: 100px 0;
    text-shadow: 2px 2px 4px white;
}

.hero h1 {
    font-size: 3em;
}

.hero p {
    font-size: 1.5em;
}

.card-img-overlay {
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

.card {
    transition: transform 0.1s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 5px gray;
}

.card:not(:hover) {
    transform: translateY(0);
}